html {
  height: 100%;
}

body {
  padding-top: 70px;
  height: 100%;
}

.container {
  min-height: 100%;
}

#play, #pause {
  position: absolute;
  width: 200px;
  z-index: 1;
  font-size: 4rem;
  color: white;
}

#giphyRow {
  text-align: center;
}

footer {
  height: 25px;
  margin-top: -25px;
}

a:hover {
  cursor: pointer;
}
